<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pencil - Cart</title>
    {% include 'mainapp/cdns.html' %}
    <link rel="stylesheet" href="{% static 'mainapp/css/cartPage.css' %}">
    <script src="{% static 'mainapp/js/cartPage.js' %}"></script>
</head>
<body>
    <div class="container">
        {% include 'mainapp/navbar.html' %}
        <div class="body">
            <h2 class="text-center">Your Cart</h2>
            {% if request.session.cart.counts != 0 %}
                <table class="table mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th class="product">Product</th>
                            <th class="price">Price</th>
                            <th class="quantity">Quantity</th>
                            <th class="itemtotal">Item Total</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for each in request.session.cart.order %}
                            <tr id="product">
                                <td>
                                    <div class="img inline">
                                        <img src="{% static 'mainapp/images/'%}{{each.image}}" alt="Product Image">
                                    </div>
                                    <div class="inline details">
                                        <h5>{{each.model}} </h5>
                                        <p> {{each.description}} </p>
                                    </div>
                                </td>
                                <td>${{each.price}}</td>
                                <td>
                                    <form action="/store/cart/updatecart" method="post" id="changeQ">
                                        {% csrf_token%}
                                        <input type="hidden" name="product" value="{{each.model}}">
                                        <input class="quantityInput" type="number" name="quantity" value="{{each.quantity}}">
                                        <button class="editbtn"><i class="fas fa-pencil-alt"></i></button>
                                    </form>
                                </td>
                                <td>
                                    ${{each.total}}
                                    <form action="/store/cart/deleteproduct" class="inline float-right" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="product" value="{{each.model}}">
                                        <button class="editbtn"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <div class="row">
                    <div class="col-lg-5 col-sm-0"></div>
                    <div class="col-lg-3 col-sm-3">
                        <h5>Order Total:</h5>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-right">
                        <h5>${{request.session.cart.sub_total}}</h5>
                        <p>*No taxes are included in the total</p>
                        <button disabled >Check Out</button>
                    </div>
                </div>

            {% else %}
                <h4 class="text-center text-secondary mt-5">Your Cart is Empty</h4>
            {% endif %}
        </div>
    </div> 
</body>
</html>