<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pencil - Checkout</title>
        {% include 'mainapp/cdns.html' %}
        <link rel="stylesheet" href="{% static 'mainapp/css/checkoutPage.css' %}">
        <script src="{% static 'mainapp/js/checkoutPage.js' %}"></script>
</head>
<div class="container">
    {% include 'mainapp/navbar.html' %}
    <div class="body">
        
    </div>
</div> 
</body>
</html>