{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand font-weight-bold" href="/"><img class="logo" src="{% static 'mainapp/images/penlogowhite.png'%}" alt="Pencil logo"> Pencil</a>
    <div class="collapse navbar-collapse" id="navbar">
    </div>
    <div>
        <a href="/store" class="btn btn-sm btn-primary">Store</a>
        <a href="/store/cart">
            <i class="fas fa-shopping-cart"></i><span class="badge badge-light">{{request.session.cart.counts}}</span>
        </a>
        {% if 'userID' not in request.session %}
        <a href="/registration"><i class="fas fa-user"></i></a>
        {% endif %}
        {% if 'name' in request.session %}
        <a href="/user/{{request.session.userID}}"><i class="fas fa-user"></i></a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        {% endif %}
        {% if request.session.user > 4 %}
        <a href="/staff" class="btn btn-sm btn-secondary">Dashboard</a>
        {% endif %}
        {% if request.session.user > 6 %}
        <a href="/admins" class="btn btn-sm btn-secondary">Admin</a>
        {% endif %}
    </div>
</nav>