<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pencil</title>
    {% include 'mainapp/cdns.html' %}
    <style>
        div.profile{
            width: 600px;
            border: 1px solid black;
            border-radius: 10px;
  
            margin: 100px auto;
            padding: 20px;
        }
        h4{
            margin-bottom: 20px;
        }
        p{
            margin: 5px 5px 5px 50px;
        }
        div.button{
            margin: 20px 5px 0 10px;
        }
        .space{
            width: 150px;
        }

    </style>
    <script>
    $(document).ready(function(){
    });
    </script>
</head>
<body>
    <div class="container">
        {% include 'mainapp/navbar.html' %}
        <div class="profile">
            <h4 class="text-capitalize">{{user.first_name}} {{user.last_name}}'s User Profile</h4>
            <table>
                <tr>
                    <td class="space">First name:</td>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <td>Email address:</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>User type:</td>
                    <td>
                        {% if user.user_level == 9 %}
                        Super Admin
                        {% endif %}
                        {% if user.user_level == 7 %}
                        Admin
                        {% endif %}
                        {% if user.user_level == 5 %}
                        Staff
                        {% endif %}
                        {% if user.user_level == 1 %}
                        Standard User
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td valign="top">Addresss:</td>
                    <td>
                        {% if user.address_line_1 %}
                        {{user.address_line_1}} <br>
                        {% endif %}
                        {% if user.address_line_1 %}
                        {{user.address_line_2}} <br>
                        {% endif %}
                        {% if user.city %}
                        {{user.city}}, {{user.state}} {{user.zipcode}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Profile created:</td>
                    <td>{{user.created_at}}</td>
                </tr>
            </table>

            {% if user.id == request.session.userID %}
            <div class="button">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#changeinfo">Edit Info</button>
                
                <div class="modal fade" id="changeinfo">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Info</h5>
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button> 
                            </div>
                            <div class="modal-body">
                                <form action="/user/{{user.id}}/edit" method="post">
                                    {% csrf_token %}
                                    <table>
                                        <tr>
                                            <td class="space">First name:</td>
                                            <td><input type="text" name="first_name" value="{{user.first_name}}"></td>
                                        </tr>
                                        <tr>
                                            <td>Last name:</td>
                                            <td><input type="text" name="last_name" value="{{user.last_name}}"></td>
                                        </tr>
                                        <tr>
                                            <td>Email Address:</td>
                                            <td><input type="email" name="email" value="{{user.email}}"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">Address:</td>
                                            <td>
                                                <input type="text" name="address_line_1" value="{{user.address_line_1}}"><br>
                                                <input type="text" name="address_line_2" value="{{user.address_line_2}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>City:</td>
                                            <td><input type="text" name="city" value="{{user.city}}"></td>
                                        </tr>
                                        <tr>
                                            <td>State:</td>
                                            <td>
                                                <select name="state">
                                                    <option value="AL">Alabama</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="AZ">Arizona</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="CA">California</option>
                                                    <option value="CO">Colorado</option>
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="DC">District Of Columbia</option>
                                                    <option value="FL">Florida</option>
                                                    <option value="GA">Georgia</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="ID">Idaho</option>
                                                    <option value="IL">Illinois</option>
                                                    <option value="IN">Indiana</option>
                                                    <option value="IA">Iowa</option>
                                                    <option value="KS">Kansas</option>
                                                    <option value="KY">Kentucky</option>
                                                    <option value="LA">Louisiana</option>
                                                    <option value="ME">Maine</option>
                                                    <option value="MD">Maryland</option>
                                                    <option value="MA">Massachusetts</option>
                                                    <option value="MI">Michigan</option>
                                                    <option value="MN">Minnesota</option>
                                                    <option value="MS">Mississippi</option>
                                                    <option value="MO">Missouri</option>
                                                    <option value="MT">Montana</option>
                                                    <option value="NE">Nebraska</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="NH">New Hampshire</option>
                                                    <option value="NJ">New Jersey</option>
                                                    <option value="NM">New Mexico</option>
                                                    <option value="NY">New York</option>
                                                    <option value="NC">North Carolina</option>
                                                    <option value="ND">North Dakota</option>
                                                    <option value="OH">Ohio</option>
                                                    <option value="OK">Oklahoma</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="PA">Pennsylvania</option>
                                                    <option value="RI">Rhode Island</option>
                                                    <option value="SC">South Carolina</option>
                                                    <option value="SD">South Dakota</option>
                                                    <option value="TN">Tennessee</option>
                                                    <option value="TX">Texas</option>
                                                    <option value="UT">Utah</option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>	
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Zipcode:</td>
                                            <td><input type="text" name="zipcode" value="{{user.zipcode}}"></td>
                                        </tr>
                                    </table>
                                    <button class="btn mt-3 btn-secondary float-right">Update</button>
                                </form>
                            </div>
                          
                        </div>
                    </div>
                </div>

                <button class="btn btn-secondary" data-toggle="modal" data-target="#changepw">ChangePassword</button>

                <div class="modal fade" id="changepw" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Change {{user.first_name}}'s password</h5>
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button> 
                            </div>
                            <div class="modal-body">
                                    <img width="250px" src="{% static 'mainapp/images/underConstruction.jpg' %}" alt="Under Construction">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            {% endif %}
        </div>

    </div>
</body>
</html>